
*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family:sans-serif;
text-transform:uppercase;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
h1{
    font-size: 3rem;
    letter-spacing:.313rem;
    font-weight: 800;
}


button {
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: #C92071;
    border-radius: .5rem;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: #991956;
}